<body>
    <div class="signup-box">
        <h2>User Sign Up</h2>
        <ejs-textbox #username class="dropdown e-input ejs-textbox" cssClass="e-outline" floatLabelType="Auto"
            placeholder="Name" (change)="changeBool()"></ejs-textbox>
        <ejs-textbox #password class="dropdown e-input ejs-textbox" cssClass="e-outline" floatLabelType="Auto"
            type="password" placeholder="Password" (change)="changeBool()"></ejs-textbox>
        <ejs-textbox #email class="dropdown e-input ejs-textbox" cssClass="e-outline" floatLabelType="Auto" type="email"
            placeholder="Email" (change)="changeBool()"></ejs-textbox>
        <ejs-textbox #number class="dropdown e-input ejs-textbox" cssClass="e-outline" floatLabelType="Auto"
            type="number" placeholder="Number" (change)="changeBool()"></ejs-textbox>
        <ejs-dropdownlist class="dropdown" id='games' cssClass="e-outline" placeholder="Select Country"
            [dataSource]='countriesData' [(value)]='valueCountry' [fields]='fieldsCountry'></ejs-dropdownlist>

        <br>
        <div class="btns">
            <button [ngClass]="signUpBtn ? 'disabled' : 'enabled' " (click)="submit()" class="btn btn-primary">SignUp</button>

            <a routerLink="/account/login" routerLinkActive="active"
                ariaCurrentWhenActive="page"><button class="btn btn-primary">Login</button></a>
        </div>


    </div>
</body>
<!-- <router-outlet /> -->
