<form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <input class="form-control" type="text" required minlength="4" name="username" [(ngModel)]="username" ngModel>

        <div>
            <div
                *ngIf="loginForm.controls['username'] && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)">
                <small class="errmsg" [hidden]="loginForm.controls['username'].hasError('required') ? false : true">
                    Username is required
                </small>
                <br>
                <small class="errmsg" [hidden]="loginForm.controls['username'].hasError('minlength') ? false : true">
                    Enter name greater than 4 characters.
                </small>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input class="form-control" type="password" required minlength="4" name="password" [(ngModel)]="password"
            ngModel>

        <div class="errmsg"
            *ngIf="loginForm.controls['password']?.errors && (loginForm.controls['password']?.dirty || loginForm.controls['password']?.touched)">
            <small class="errmsg" [hidden]="loginForm.controls['password'].errors ? false : true">
                Password is required
            </small>
            <small class="errmsg" [hidden]="loginForm.controls['password'].hasError('minlength') ? false : true">
                Enter minimun 4 characters
            </small>
        </div>
    </div>
    <br>
    <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-success">Submit</button>
</form>