<body>
    <div class="login-box">
        <div class="head">User Login</div>
        <form action="">
            <input type="text" placeholder="Username" name="username">
            <input type="text" placeholder="Password" name="password">
            <br>
            <button>Login</button>
            <a routerLink="/account/signup" routerLinkActive="active" ariaCurrentWhenActive="page"><button>SignUp</button></a>
        </form>
        <input type="text" [value]='name'>
    </div>
</body>
<router-outlet />