<div class="form-container">
  <h2>User Log In</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!-- Dynamically generate form controls -->
    <div *ngFor="let field of formFields" class="form-group">
      <label [for]="field.name">{{ field.label }}</label>

      <!-- If the field type is 'select', generate a dropdown -->
      <ng-container *ngIf="field.type === 'select'">
        <select [id]="field.name" [formControlName]="field.name" class="form-control"
          [ngClass]="{ 'is-invalid': loginForm.controls[field.name].invalid && loginForm.controls[field.name].touched }">
          <option value="" disabled>Select your designation</option>
          <option *ngFor="let option of field.options" [value]="option.value">{{ option.label }}</option>
        </select>
      </ng-container>

      <!-- If the field type is not 'select', generate a standard input -->
      <div *ngIf="field.type !== 'select'">
        <ejs-textbox cssClass="e-outline" [id]="field.name" [type]="field.type" [formControlName]="field.name"
          [ngClass]="{ 'is-invalid': loginForm.controls[field.name].invalid && loginForm.controls[field.name].touched }"></ejs-textbox>
      </div>

      <div *ngIf="loginForm.controls[field.name].invalid && loginForm.controls[field.name].touched"
        class="invalid-feedback">
        <!-- Display validation errors dynamically based on the field's errors -->
        <div *ngIf="loginForm.controls[field.name].hasError('required')">{{ field.errorMessages.required }}</div>
        <div *ngIf="loginForm.controls[field.name].hasError('minlength')">{{ field.errorMessages.minlength }}</div>
        <div *ngIf="loginForm.controls[field.name].hasError('weakPassword')">{{ field.errorMessages.weakPassword }}
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
    <a routerLink="/account/signup" routerLinkActive="active"
                ariaCurrentWhenActive="page"><button class="btn btn-primary">Sign Up</button></a>
  </form>


</div>