
.form-container {
  max-width: 380px;     
  margin:100px auto;          
  padding: 20px;           
  background-color: rgb(241, 232, 232);  
  border-radius: 8px;     
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);  
}

h2
{
  text-align: center;
}



label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;  
  color: #333;        
}

input.form-control {
  width: 70%;                    
  padding: 12px 16px;             
  border: 1px solid #ccc;         
  border-radius: 4px;            
  font-size: 16px;                 
  box-sizing: border-box;          
  margin-top: 5px;
  transition: border-color 0.3s; 
}

input.form-control:focus {
  border-color: #007bff;  
  outline: none;          
}


input.form-control.is-invalid {
  border-color: #dc3545;  
}

.invalid-feedback {
  color: #dc3545;        
  font-size: 14px;          
  margin-top: 5px;          
}


button.btn {
  margin-top: 20px;
  width: 100%;                      
  padding: 12px 16px;               
  background-color: #007bff;        
  color: white;
  border: none;                      
  border-radius: 4px;               
  font-size: 16px;                  
  cursor: pointer;                   
  transition: background-color 0.3s;

}
button.btn:hover {
  background-color: #0056b3;  
}


button.btn:disabled {
  background-color: #ccc;     
  cursor: not-allowed;         
}


@media (max-width: 600px) {
  .form-container {
    padding: 15px; 
  }

  input.form-control, button.btn {
    font-size: 14px;  
  }
}
