.product-detail-container {
    display: flex;
    gap: 2rem;
    padding: 3rem; /* Increased padding for better spacing */
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
  
    .product-image {
      flex: 1;
      max-width: 400px; /* Limiting the max-width for images */
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(126, 124, 124, 0.1);
      }
    }
  
    .product-info {
      flex: 2;
      max-width: 600px;
  
      h1 {
        font-size: 2.5rem; /* Increased font size for the product name */
        font-weight: bold;
        color: #333;
        margin-bottom: 1.5rem;
        line-height: 1.2;
      }
  
      p {
        font-size: 1.5rem; /* Increased font size for the text */
        color: #444;
        margin: 1rem 0;
        line-height: 1.6;
  
        strong {
          color: #333;
          font-weight: bold;
        }
      }
  
      .order-date {
        font-size: 1.4rem; /* Slightly smaller but clear font for the order date */
        color: #777;
        margin-top: 1rem;
      }
    }
  }
  