.heading {
    margin: 40px 10px;
}


.pushElements
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grid {
    padding: 20px;
    img{
        border-radius: 10px;
    }
    .menu {

        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;

    }

    .shipCity {
        background-color: yellow;
        color: black;
    }

    #listSidebar {
        margin-top: 150px;
    }
    #listToolbar
    {
        background-color: white;
        .e-toolbar-items,.e-btn-icon,.e-toolbar-item
        {
            background-color: white;
        }
    }
    #listSidebarList {
        width: 100%;
    }

    .e-list-item:hover {
        width: 100%;
        color: white;
        background-color: rgb(25, 118, 210);
    }
}
.e-toolbar .e-toolbar-item .e-tbar-btn .e-icons.e-btn-icon {
    margin: 0;
    min-width: 24px;
    width: auto;
    font-size: 29px;
    line-height: 30px;
    background-color: white;
}
.e-tbar-menu-icon:before {
    content: "\2630";
    
}
.e-sidebar.e-left {
    border-right: 2px solid rgb(25, 118, 210);
}
.e-sidebar.e-left.e-open {
    transition: transform 0.5s ease;
}
.e-sidebar.e-left.e-transition.e-close {
    transition: transform 0.5s ease-out, visibility 500ms;
}