.heading {
    margin: 40px 10px;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .catergotybtn {
        width: 100px;
        height: 50px;
        border-radius: 8px;
        color: white;
        font-weight: 600;
        background-color: orangered;
        border: 2px solid black;
        margin: 20px;
    }
}


.grid {
    padding: 20px;

    .menu {

        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;

    }

    .shipCity {
        background-color: yellow;
        color: black;
    }

    #listSidebar {
        margin-top: 150px;
    }
    #listToolbar
    {
        background-color: white;
        .e-toolbar-items,.e-btn-icon,.e-toolbar-item
        {
            background-color: white;
        }
    }
    #listSidebarList {
        width: 100%;
    }

    .e-list-item:hover {
        width: 100%;
        color: white;
        background-color: rgb(25, 118, 210);
    }
}

.e-tbar-menu-icon:before {
    content: "\e718";
    width: 100px;
}